body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 10pt;
}

h1 {
	color: #FFFFFF;
	font-size: 14pt;
}

a {
	color: #FFFFFF;
}

.ninja {
	color: #333333;
}

.ninja a{
	color: #333333;
}

#wrapper{
	margin: auto;
}

#holder {
	padding-top: 100px;
	margin: auto;
	padding-bottom: 50px;
	display: block;
}

#content {
	width: 300px;
	margin-left: -400px;
	margin-top: 50px;
	margin: auto;
}

#footer {
	width: 100%;
	text-align: center;
	/*margin: auto;*/
	font-size: 9pt;
}