@font-face {
    font-family: 'MuseoSlab';
    src: url('../fonts/museo_slab_100-webfont.eot');
    src: url('../fonts/museo_slab_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab_100-webfont.woff') format('woff'),
         url('../fonts/museo_slab_100-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab_100-webfont.svg#ArvoRegular') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'BigMummyRegular';
    src: url('../fonts/bigmummy-webfont.eot');
    src: url('../fonts/bigmummy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bigmummy-webfont.woff') format('woff'),
         url('../fonts/bigmummy-webfont.ttf') format('truetype'),
         url('../fonts/bigmummy-webfont.svg#BigMummyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

body { position: relative; max-width: 810px!important; width: 810px!important; overflow: hidden!important; margin: 0px!important; font-size: 13px; line-height: 1.231; color: #291c06; background-color:  #a84012;} 

body, button, input, select, textarea { font-family: HelveticaNeueLTStd57Condensed, sans-serif; color: #291c06; font-weight:normal;}

::-moz-selection { background: #f1ca45; color: #fff; text-shadow: none; }
::selection { background: #f1ca45; color: #fff; text-shadow: none; }

/* =============================================================================
   Links
   ========================================================================== */

a { color: #291c06; text-decoration: underline;}
a:visited { color: #291c06; }
a:hover { color: #291c06; text-decoration: none;}
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

h6{
    font-size: 20px;
    font-family: 'MuseoSlab';
    margin: 10px 20px 10px 10px;;
}

.button{
    background-image: url(../../images/newsletterbutton.jpg);
    font-weight: bold;
    border: 0px;
    height: 16px;
    width: 54px;
}

input{
    color: #000000;
    font-size: 12px;
    border: 0px;
    margin: 13px 0 13px 0;
}

.centered {
    margin: auto;
}

#overlay{
	background-image: url(http://www.hearsepileup.de/ad/images/overlay.png);
	height: 100%;
	width: 100%;
}

#bl{
    position: absolute;
    background: url(../../images/scratchbl.png) no-repeat;
    width: 102px;
    height: 82px;
    bottom: 0px;
    z-index: 9999; 
}

#br{
    position: absolute;
    background: url(../../images/scratchbr.png) no-repeat;
    width: 53px;
    height: 57px;
    bottom: 0px;
    z-index: 9998;
    left: 0px;
}

#tr{
    position: absolute;
    background: url(../../images/scratchtr.png) no-repeat;
    width: 70px;
    height: 77px;
    top: 0px;
    z-index: 9998;
    right: 0px;
}

#tl{
    position: absolute;
    background: url(../../images/scratchtl.png) no-repeat;
    width: 102px;
    height: 85px;
    top: 0px;
    z-index: 9998;
    left: 0px;
}

#topscratch{
    position: absolute;
    background: url(../../images/topscratch.png) repeat-x;
    width: 100%;
    height: 20px;
    top: 0px;
    z-index: 9998;
    left: 0px;
}

#botscratch{
    position: absolute;
    background: url(../../images/botscratch.png) repeat-x;
    width: 100%;
    height: 20px;
    bottom: 0px;
    z-index: 9998;
    left: 0px;
}

#lefscratch{
    position: absolute;
    background: url(../../images/lefscratch.png) repeat-y;
    width: 20px;
    height: 100%;
    bottom: 0px;
    z-index: 9998;
    left: 0px;
}

#rigscratch{
    position: absolute;
    background: url(../../images/rigscratch.png) repeat-y;
    width: 20px;
    height: 100%;
    bottom: 0px;
    z-index: 9998;
    right: 0px;
}

#rig{
    background-image: url(../../images/rig.jpg);
    background-repeat: no-repeat;
    width: 215px;
    height: 190px;
    margin-top: 23px;
    margin-left: 136px;
}

#logo {
    margin: 0px -60px;
    padding-top: 10px;
    left: 0px;
    z-index: 10000;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

h2 {
    color: #f5f1ea;
    font-weight:normal;
    font-size:16px;
    line-height:1;
    padding: 0px 0px 13px 20px;
    margin: 0px;
}

h3 {
    color: #f1ca45;
    font-weight:normal;
    font-size:10px;
    padding: 0px 0px 0 20px;
    margin: 0px;
    line-height:0;
}

h4 {
    color: #f5f1ea;
    font-weight:normal;
    font-size:14px;
    line-height: 1;
    padding: 20px 0px 00px 20px;
    margin: 0px;
}

h5 {
    color:#f5f1ea;
    line-height:0.2;
    font-weight: normal;
    text-align: center;
}

p { margin: 0px; }

.title {
    float: left;
}

.headerblock {
    padding: 19px 0px 20px 0px;
    float: left;
    width: 100%;
}

.headcoltop {
    height:10px;
    float: left;
    width: 100%
}

.headercol {
    padding: 10px 0px 10px 0px;
    float: left;
    width: 250px;
}

.headerspace {
    float: left;
    background-image: url(../img/headerdiv.jpg);
    background-repeat: repeat-y;
    background-position: 10px;
}

article {
    background-repeat: repeat-x;
    background-position: top;
    clear: both;
}

.more {
    width: 100%;
}

.push {
    background-image: url(../img/button.jpg);
    width:120px;
    height:38px;
    float: right;
    margin-right: 60px;
}

.more a {
    text-decoration:none;
}

.content {
    padding: 20px;
}

#featured {
    background-image: url(../img/featured.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-color: #291c06;
    padding: 22px 0px 26px 0px;
    float: left;
    width: 100%;
}

#social {
    padding: 20px;
}

.social {
    margin-top: 20px;
}

.headerbox {
    height: 40px;
    background-image: url(../img/headerdiv.jpg);
    background-position: center;
    background-repeat: repeat-y;
}

.twocol {
    float: left;
    width: 240px;
}

.twocoldiv {
    float: left;
    width: 235px;
    background-image: url(../img/headerdiv.jpg);
    background-repeat: repeat-y;
    background-position: left;
}

.spacer {
    clear: both;
    height: 10px;
}

.tweetcon {
    width: 235px;
    background-image: url(../img/tweet.jpg);
    background-repeat: repeat-y;
    padding-left: 4px;
    margin-left: 6px;
}

.fix {
    background-image: url(../img/div-spacer.jpg);
    background-position:bottom left;
    background-repeat: no-repeat;
    float: left;
}

.tweet {
    width: 238px;
    background-image: url(../img/tweet.jpg);
    background-repeat: repeat-y;
    margin-left: 8px;
}

.tweet p {
    padding: 10px;
}

.tweetshadow {
    margin-left: 8px;
    width: 238px;
    height: 10px;
}

.blog {
    width: 480px;
    background-color:#291c06;
    padding: 0 0 20px 0px;
    margin: 0px;
}

#container {
    width: 488px;
    background-image: url(../img/full.jpg);
    background-repeat: repeat-y;
    padding-left: 4px;
    margin-top: 4px;
}

.post {
    padding: 10px;
    color: #291c06;
}

.post p {
    margin-right: 8px;
    color: #291c06;
}

.icon a {
    margin-left: 8px;
    margin: 0px;
    margin-right: 8px;
}

.iconshad {
    height: 15px;
    width: 54px;
    background-image: url(../img/iconshad.jpg);
}

.shadow-bl {
    float: left;
    background-image: url(../img/corner-left.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 9px;
    width: 14px;
    clear: both;
}

.shadow-btm {
    float: left;
    background-image: url(../img/postshadow.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    height: 9px;
    width: 488px;
    margin: 0px;
    padding: 0px;
    left: 0px;
}

.shadowtweet-btm {
    float: left;
    background-image: url(../img/boxshadow.jpg);
    background-repeat: repeat-x;
    background-position: bottom left;
    height: 9px;
    width: 204px;
}

.shadow-br {
    float: left;
    background-image: url(../img/corner-right.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    height: 9px;
    width: 14px;
}

.shadowbox {
    padding: 17px;
}

/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
