@import "reset";
@import "helper";
@import "media";
@import "print";

/* ==|== FONTS =====================================================
   Author:
   ========================================================================== */

@import "fonts";

/* ==|== Music Player =====================================================
   Author:
   ========================================================================== */

@import "flashblock";
@import "360player";
@import "360player-visualization";

/* ==|== LIGHTBOX =====================================================
   Author:
   ========================================================================== */

@import "lightbox";

/* ==|== primary styles =====================================================
   Author:
   ========================================================================== */

body {
    background-color: #000000;
    text-align: center;
    margin: auto;
}

header {
    height: 184px;
}

#nav h2, footer form, #rightnav, #logo {
    float: left;
}

#links, #leftnav{
    float: right;
}

.grey{
    color: #555555;
}

#bl{position: absolute;background: url(../images/scratchbl.png) no-repeat;width: 102px;height: 82px;bottom: 0px;z-index: 9999; }

#br{position: absolute;background: url(../images/scratchbr.png) no-repeat;width: 53px;height: 57px;bottom: 0px;z-index: 9998;left: 0px;}

#tr{position: absolute;background: url(../images/scratchtr.png) no-repeat;width: 70px;height: 77px;top: 0px;z-index: 9998;right: 0px;}

#tl{position: absolute;background: url(../images/scratchtl.png) no-repeat;width: 102px;height: 85px;top: 0px;z-index: 9998;left: 0px;}

#topscratch{position: absolute;background: url(../images/topscratch.png) repeat-x;width: 100%;height: 20px;top: 0px;z-index: 9998;left: 0px;}

#botscratch{position: absolute;background: url(../images/botscratch.png) repeat-x;width: 100%;height: 20px;bottom: 0px;z-index: 9998;left: 0px;}

#lefscratch{position: absolute;background: url(../images/lefscratch.png) repeat-y;width: 20px;height: 100%;bottom: 0px;z-index: 9998;left: 0px;}

#rigscratch{position: absolute;background: url(../images/rigscratch.png) repeat-y;width: 20px;height: 100%;bottom: 0px;z-index: 9998;right: 0px;}



#wrapper {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}

#nav {
    height: 94px;
    background-position: top;
    background-repeat: repeat-x;
    width: 100%;
    background-image: url(../images/navbar.jpg);
    text-align: center;
    position: relative;
    z-index: 9001;
}

#rightnav{
    margin-left: 13px;
    margin: 20px 0px 20px 32px;
    float: left;
    position: relative;
    z-index: 10002;
}

#leftnav{
    width: 348px;
    margin: 20px 2px 20px 0px;
    position: relative;
    z-index: 10001
}

#content {
    width: 940px;
    background-color: #a84012;
    margin: auto;
    text-align: left;
    border: 10px solid #ffffff;
    min-height: 630px;
    height: auto !important;
    height: 630px;
    position: relative;
}

.gaffangry{
    background-image: url(../images/gaffangry.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
}

.records{
    background-image: url(../images/records.jpg);
    background-repeat: no-repeat;
    background-position-y: 70px;
}

.gigback{
    background-image: url(../images/gigback.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

#rig{
    background-image: url(../images/rig.jpg);
    background-repeat: no-repeat;
    width: 215px;
    height: 190px;
    position: absolute;
    margin-top: 23px;
    margin-left: 136px;
    bottom: 0px;
    right: 95px;
}

#logo {
    margin: 0px -60px;
    padding-top: 10px;
    left: 0px;
    z-index: 10000;
    position: absolute;
    left: 50%;
    margin-left: -150px;
}

#nextgig{
    text-align: right;
    margin-right: 10px;
    margin-top: -15px;
    position: absolute;
    right: 0px;
    z-index: 10100;
    width: 300px;
    img{display: inline-block;margin: 0px 8px 10px 0px;}
    h4{display: inline-block;}
}

#feature{
    z-index: 20;
    margin-left: 480px;
    margin-top: 55px;
    position: relative;
    z-index: 10999;
}

#feature .info{
    margin-left: 160px;
}

#obituaries {
    position: absolute;
    height:100px;
    top: 300px;
    right: 0px;
    width: 60px;
}

#gigs {
    width: 300px;
    margin: auto;
    text-align: left;
}

#gigs ul {
    list-style: none;
    text-align: left;
    padding: 0px;
}

#creditfooter { 
    display: none; 
}

footer{
    width: 960px;
    margin: 0px auto 0px auto;
    .button{
        background-image: url(../images/newsletterbutton.jpg);
        font-weight: bold;
        border: 0px;
        height: 16px;
        width: 54px;
    }
    input{
        color: #000000;
        font-size: 12px;
        border: 0px;
        margin: 13px 0 13px 0;
    }
}

.ninja {
    color:#333333;
    font-size: 10px;
    clear: both;
    a{color:#333333;}
}

.strap{
    width: 960px;
    position: absolute;
    text-align: center;
    bottom: 69px;
}

.music{
    position: absolute;
    width: 768px;
    text-align: center;
    left: 95px;
    bottom: 289px;
    z-index: 5000;
}
.player1{
    float: left;
    width: 256px;
    background: url(../images/player1.png) no-repeat 36px 45px;
}
.player2{
    float: left;
    width: 256px;
    background: url(../images/player2.png) no-repeat 36px 45px;
}
.player3{
    float: left;
    width: 256px;
    background: url(../images/player3.png) no-repeat 36px 45px;
}

.horizon{
    background: #000;
    width: 880px;
    height: 268px;
    position: absolute;
    bottom: 0px;
    padding: 0 0 0 60px;
    p {
        width: 300px;
        float: left;
        text-align: right;
    }
    img{
        float: left;
        margin-left: 30px;
    }
}

.onecol{
    width: 800px;
    position: relative;
    left: 70px;
    top: 30px;
}

.twocol {
    width: 400px;
    float: left;
    position: relative;
    left: 90px;
    top: 70px;
    margin-right: 20px;
}

.logocol{
    width: 300px;
    text-align: left;
    position: absolute;
    left: 320px;
    top: 146px;
    p{
        margin: 0;
        font-size: 15px;
        font-weight: bold;
    }
    span{
        float: right;
    }
}

.biobg {
    background: url(../images/bioback.jpg) no-repeat 0px 68px;
    p {
        font-size: 14px;
        line-height: 18px;
    }
}

.contactbg {
    background: url(../images/contactback.jpg) no-repeat 0px 68px;
}

/* ==|== Gigs =====================================================
   Author:
   ========================================================================== */

.events{
    width: 380px;
    float: right;
    margin: 57px 150px 60px 0;
    list-style: none;
    padding: 0;
    li{
        background: rgba(0, 0, 0, 0.5);
        padding: 10px;
        clear: both;
        display: block;
        width: 380px;
    }
    h2{
        display: block;
        float: left;
        width: 180px;
        margin: 0;
    }
    dl{
        margin: 0
    }
    dd{
        float: right;
        text-align: right;
        display: block;
        clear: both;
    }
    dt{float: left; clear: both;}
    .doortime{
        display: inline;
        clear: none;
        margin-bottom: 10px;
    }
    .eventdetail{
        float: left;
        width: 180px;
    }
}

.clr{clear: both;}


/* ==|== Holding Page =====================================================
   Author:
   ========================================================================== */

.watchthisspace{
  width: 940px;
  margin: 80px auto;
  img{
    float: left;
  }
  .countdown{
    width: 700px;
    float: right;
    font-family: 'BigMummyRegular', sans-serif;
    font-size: 80px;
    text-align: right;
  }
  #nextgig{
    float: right;
    position: relative;
    margin: 20px 0px 0 0;
    img{
      float: none;
    }
  }
  h1{
    font-family: 'MuseoSlab', sans-serif;
    position: static;
    text-align: right;
    margin-right: 0px;
    font-size: 76px;
    line-height: 0;
  }
  h2{
    font-family: 'BigMummyRegular', sans-serif;
    text-align: right;
  }
}

.ticktock{
  font-size: 100px;
  line-height: 91px;
  float: right;
  position: static;
  margin: 0 0 0 0;
  span{
    float: right;
  }
}