// ==|== normalize =======================================================

// =============================================================================
// HTML5 display definitions
// =============================================================================
@include h5bp-display;

// =============================================================================
// Base
// =============================================================================
@include h5bp-base;
::-moz-selection{
    color: $selected-font-color;
    background: $selected-background-color;
    text-shadow: none;
}

::selection{
    color: $selected-font-color;
    background: $selected-background-color;
    text-shadow: none;
}

// =============================================================================
// Links
// =============================================================================
@include h5bp-links;

// =============================================================================
// Typography
// =============================================================================
@include h5bp-typography;
.item_title{
    color: $light-grey;
    font-weight: 600;
    float: left;
}
h3{
    font-size: 10px;
}
h6{
    font-size: 10px;
    margin: 0 0 28px 0;
}
p{
   font-weight: bold;
   color: $light-grey;
}
a{
    color: #fff;
    text-decoration: none;
    font-weight: 300;
}

// =============================================================================
// Lists
// =============================================================================
@include h5bp-lists;

// =============================================================================
// Embedded content
// =============================================================================
@include h5bp-embeds;

// =============================================================================
// Figures
// =============================================================================
@include h5bp-figures;

// =============================================================================
// Forms
// =============================================================================
@include h5bp-forms;
input{
    border: 1px solid $medium-grey;
}

// =============================================================================
// Tables
// =============================================================================
@include h5bp-tables;
