/* line 30, ../sass/partials/_base.scss */
img {
  display: block;
}

/* line 34, ../sass/partials/_base.scss */
.align_right {
  text-align: right;
}

/* line 38, ../sass/partials/_base.scss */
.right {
  float: right;
}

/* line 42, ../sass/partials/_base.scss */
.left {
  float: left;
}

/* line 46, ../sass/partials/_base.scss */
.clear {
  clear: both;
}

/* line 50, ../sass/partials/_base.scss */
.slab {
  font-family: "MuseoSlab", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

/* line 55, ../sass/partials/_base.scss */
.stencil {
  font-family: "MKStencilsansBlack", Helvetica, Arial, sans-serif;
  font-weight: 100;
}

/* line 32, ../sass/partials/h5bp/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 39, ../sass/partials/h5bp/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 47, ../sass/partials/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 55, ../sass/partials/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 69, ../sass/partials/h5bp/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 82, ../sass/partials/h5bp/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 88, ../sass/partials/h5bp/_normalize.scss */
body {
  margin: 0;
}

/* line 12, ../sass/partials/_overrides.scss */
::-moz-selection {
  color: white;
  background: #890000;
  text-shadow: none;
}

/* line 18, ../sass/partials/_overrides.scss */
::selection {
  color: white;
  background: #890000;
  text-shadow: none;
}

/* line 103, ../sass/partials/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 109, ../sass/partials/h5bp/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* line 124, ../sass/partials/h5bp/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 130, ../sass/partials/h5bp/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 134, ../sass/partials/h5bp/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 139, ../sass/partials/h5bp/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 144, ../sass/partials/h5bp/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 151, ../sass/partials/h5bp/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 159, ../sass/partials/h5bp/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* line 166, ../sass/partials/h5bp/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 173, ../sass/partials/h5bp/_normalize.scss */
q {
  quotes: none;
}

/* line 179, ../sass/partials/h5bp/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 185, ../sass/partials/h5bp/_normalize.scss */
small {
  font-size: 80%;
}

/* line 191, ../sass/partials/h5bp/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 198, ../sass/partials/h5bp/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 202, ../sass/partials/h5bp/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 33, ../sass/partials/_overrides.scss */
.item_title {
  color: #464646;
  font-weight: 600;
  float: left;
}

/* line 38, ../sass/partials/_overrides.scss */
h3 {
  font-size: 10px;
}

/* line 41, ../sass/partials/_overrides.scss */
h6 {
  font-size: 10px;
  margin: 0 0 28px 0;
}

/* line 45, ../sass/partials/_overrides.scss */
p {
  font-weight: bold;
  color: #464646;
}

/* line 49, ../sass/partials/_overrides.scss */
a {
  color: #fff;
  text-decoration: none;
  font-weight: 300;
}

/* line 216, ../sass/partials/h5bp/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 220, ../sass/partials/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 227, ../sass/partials/h5bp/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 239, ../sass/partials/h5bp/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* line 245, ../sass/partials/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 256, ../sass/partials/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 267, ../sass/partials/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 272, ../sass/partials/h5bp/_normalize.scss */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 281, ../sass/partials/h5bp/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 294, ../sass/partials/h5bp/_normalize.scss */
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 304, ../sass/partials/h5bp/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 318, ../sass/partials/h5bp/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

/* line 326, ../sass/partials/h5bp/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 335, ../sass/partials/h5bp/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 345, ../sass/partials/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 355, ../sass/partials/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 361, ../sass/partials/h5bp/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 368, ../sass/partials/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 74, ../sass/partials/_overrides.scss */
input {
  border: 1px solid #262626;
}

/* line 380, ../sass/partials/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'MuseoSlab';
  src: url("../fonts/museo_slab_100-webfont.eot");
  src: url("../fonts/museo_slab_100-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/museo_slab_100-webfont.woff") format("woff"), url("../fonts/museo_slab_100-webfont.ttf") format("truetype"), url("../fonts/museo_slab_100-webfont.svg#ArvoRegular") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'MKStencilsansBlack';
  src: url("../fonts/MKStencilsansBlack.eot");
  src: url("../fonts/MKStencilsansBlack.eot?#iefix") format("embedded-opentype"), url("../fonts/MKStencilsansBlack.woff") format("woff"), url("../fonts/MKStencilsansBlack.ttf") format("truetype"), url("../fonts/MKStencilsansBlack.svg#ArvoRegular") format("svg");
  font-weight: 100;
  font-style: normal;
}

/* line 7, ../sass/partials/_page.scss */
body, select, input, textarea {
  color: white;
  background: black;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 10px;
  line-height: 15px;
}

/* line 1, ../sass/partials/_layout.scss */
#wrapper {
  width: 100%;
  text-align: center;
}

/* line 5, ../sass/partials/_layout.scss */
.main {
  margin: auto;
  width: 980px;
  text-align: left;
  position: relative;
}

/* line 12, ../sass/partials/_layout.scss */
.main_header {
  margin: 50px 0 0 0;
  position: absolute;
  left: 20px;
  right: 20px;
  z-index: 10;
}

/* line 20, ../sass/partials/_layout.scss */
.three_col {
  width: 220px;
  margin: 10px;
}

/* line 25, ../sass/partials/_layout.scss */
.outer_space {
  margin: 10px;
}

/* line 29, ../sass/partials/_layout.scss */
.single_col {
  width: 60px;
  margin: 10px;
}

/* line 34, ../sass/partials/_layout.scss */
.five_col {
  width: 380px;
  margin: 10px;
}

/* line 1, ../sass/partials/_modules.scss */
.logo {
  width: 60px;
  height: 33px;
  background: url(../images/logo.jpg);
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 11, ../sass/partials/_modules.scss */
  .logo {
    background: url(../images_x2/logo.jpg);
    background-size: 60px 33px;
  }
}
/* line 17, ../sass/partials/_modules.scss */
.gig_information {
  font-size: 10px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid #262626;
  margin-top: -6px;
  width: 298px;
}
/* line 24, ../sass/partials/_modules.scss */
.gig_information p {
  margin: 4px 16px 6px 10px;
  line-height: 16px;
}
/* line 28, ../sass/partials/_modules.scss */
.gig_information .item_title {
  font-size: 10px;
  line-height: 15px;
  margin: 5px 8px 5px 9px;
  padding-right: 9px;
  border-right: 1px solid #262626;
}
/* line 34, ../sass/partials/_modules.scss */
.gig_information .item_title span {
  font-size: 14px;
}
/* line 38, ../sass/partials/_modules.scss */
.gig_information:hover {
  border-color: #fff;
}

/* line 43, ../sass/partials/_modules.scss */
.giglink {
  color: #fff;
  text-decoration: none;
}

/* line 48, ../sass/partials/_modules.scss */
.main_banner {
  position: relative;
  border-bottom: 1px solid #262626;
  margin: 0 20px;
}
/* line 52, ../sass/partials/_modules.scss */
.main_banner .main_text {
  line-height: 34px;
  position: absolute;
  top: 230px;
  right: 0;
}
/* line 58, ../sass/partials/_modules.scss */
.main_banner .stencil {
  color: #464646;
  font-size: 35px;
  margin: 0;
}
/* line 63, ../sass/partials/_modules.scss */
.main_banner .first {
  font-size: 20px;
  text-align: right;
  margin: 0;
}
/* line 68, ../sass/partials/_modules.scss */
.main_banner .second {
  font-size: 17px;
  margin: 0;
  color: #464646;
}
/* line 73, ../sass/partials/_modules.scss */
.main_banner .actiontext {
  font-size: 18px;
  position: absolute;
  bottom: 0;
  right: 0;
  line-height: 25px;
  margin: 13px 0;
  text-align: right;
  color: #464646;
}
/* line 84, ../sass/partials/_modules.scss */
.main_banner:hover .actiontext {
  color: #fff;
}

/* line 90, ../sass/partials/_modules.scss */
.above_fold {
  margin: 0 10px;
  background: url(../images/fold_glow.jpg) top center no-repeat;
  min-height: 50px;
  padding-top: 40px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 101, ../sass/partials/_modules.scss */
  .above_fold {
    background: url(../images_x2/fold_glow.jpg) top center no-repeat;
    background-size: 940px 30px;
  }
}
/* line 107, ../sass/partials/_modules.scss */
.social {
  text-align: center;
}
/* line 109, ../sass/partials/_modules.scss */
.social a {
  display: block;
  width: 62px;
  height: 62px;
  background: url(../images/social_icons.png);
  margin-bottom: 2px;
  background-position-x: 62px;
}
/* line 116, ../sass/partials/_modules.scss */
.social a:hover {
  background-position-x: 0px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 124, ../sass/partials/_modules.scss */
  .social .a {
    background: url(../images_x2/social_icons.png);
    background-size: 124px 186px;
  }
}
/* line 129, ../sass/partials/_modules.scss */
.social .facebook {
  background-position-y: 0;
}
/* line 133, ../sass/partials/_modules.scss */
.social .twitter {
  background-position-y: 124px;
}
/* line 137, ../sass/partials/_modules.scss */
.social .soundcloud {
  background-position-y: 62px;
}
/* line 140, ../sass/partials/_modules.scss */
.social .column {
  display: inline-block;
}

/* line 145, ../sass/partials/_modules.scss */
.signup_input {
  border: 1px solid #262626;
  font-size: 10px;
  position: relative;
  margin-bottom: 10px;
}
/* line 150, ../sass/partials/_modules.scss */
.signup_input label {
  color: #262626;
  font-weight: bold;
  position: absolute;
  margin: 6px;
}
/* line 156, ../sass/partials/_modules.scss */
.signup_input input {
  border: 0;
  display: block;
  padding: 7px 7px 7px 101px;
  width: 110px;
}

/* line 164, ../sass/partials/_modules.scss */
input[type="submit"] {
  font-size: 10px;
  font-weight: bold;
  padding: 10px 0;
}

/* line 170, ../sass/partials/_modules.scss */
.signup_submit {
  width: 80px;
  float: right;
  background: #181818;
  /* Old browsers */
  background: -moz-linear-gradient(top, #181818 0%, black 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #181818), color-stop(100%, black));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #181818 0%, black 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #181818 0%, black 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #181818 0%, black 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #181818 0%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#181818', endColorstr='#000000',GradientType=0 );
  /* IE6-9 */
}
/* line 181, ../sass/partials/_modules.scss */
.signup_submit:hover {
  border-color: #fff;
}

/* line 186, ../sass/partials/_modules.scss */
.sexy_line {
  margin: 30px 0;
  height: 1px;
  background: #262626;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(black), to(black), color-stop(50%, #262626));
}

/* line 193, ../sass/partials/_modules.scss */
.cta {
  border: 1px solid #262626;
  margin: 10px 0 30px 0;
  display: block;
  text-decoration: none;
  position: relative;
}
/* line 199, ../sass/partials/_modules.scss */
.cta .item_title {
  padding: 11px 10px 11px 8px;
  margin: 4px 0;
  border-right: 1px solid #262626;
}
/* line 205, ../sass/partials/_modules.scss */
.cta:hover .bandcamp {
  background-position: top;
}
/* line 208, ../sass/partials/_modules.scss */
.cta:hover .ep_purchase {
  color: #fff;
}

/* line 215, ../sass/partials/_modules.scss */
.ep .item_title {
  font-size: 14px;
  padding-bottom: 4px;
  padding-top: 4px;
}
/* line 220, ../sass/partials/_modules.scss */
.ep .first {
  display: block;
  margin: 0px 0 -18px 0;
}
/* line 224, ../sass/partials/_modules.scss */
.ep .second {
  font-size: 11px;
  line-height: 11px;
}

/* line 230, ../sass/partials/_modules.scss */
.ep_purchase {
  font-family: "MKStencilsansBlack", Helvetica, Arial, sans-serif;
  font-size: 21px;
  margin: 0;
  color: #262626;
  text-align: center;
  margin: 20px 0;
}
/* line 237, ../sass/partials/_modules.scss */
.ep_purchase span {
  font-family: "MuseoSlab", Helvetica, Arial, sans-serif;
}

/* line 242, ../sass/partials/_modules.scss */
.bandcamp {
  background: url(../images/bandcamp.png) bottom no-repeat;
  display: block;
  width: 203px;
  height: 37px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -17px;
  margin-left: -60px;
}

/* line 254, ../sass/partials/_modules.scss */
.youtube {
  display: block;
  background: url(../images/youtube.jpg) bottom no-repeat;
  width: 78px;
  height: 50px;
  margin-left: 1px;
  border-right: 1px solid #262626;
  margin-top: 12px;
}

/* line 265, ../sass/partials/_modules.scss */
.youtube_gallery .one {
  background: url(../youtube_gallery/01.jpg) top no-repeat;
  width: 136px;
  height: 75px;
  display: block;
  margin-left: 20px;
}
/* line 271, ../sass/partials/_modules.scss */
.youtube_gallery .one:hover {
  background-position-y: bottom;
}

/* line 277, ../sass/partials/_modules.scss */
.main_footer {
  background: #101010;
}
/* line 279, ../sass/partials/_modules.scss */
.main_footer p {
  margin: 0;
}

/* line 284, ../sass/partials/_modules.scss */
.copyright {
  margin: 0;
  padding: 2px 20px;
}

/* line 289, ../sass/partials/_modules.scss */
.contact {
  padding: 2px 20px;
}

/* line 1, ../sass/partials/_circleplayer.scss */
.player {
  background: url(../images/playerback.jpg) top no-repeat;
  width: 140px;
  height: 190px;
  float: left;
  margin: 10px;
}
/* line 7, ../sass/partials/_circleplayer.scss */
.player span {
  color: #464646;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 16, ../sass/partials/_circleplayer.scss */
  .player {
    background: url(../images_x2/playerback.jpg) top no-repeat;
  }
}
/* line 21, ../sass/partials/_circleplayer.scss */
.sm2-timing {
  display: none;
}

/* larger canvas, spectrum + EQ visualization and other items */
/* line 29, ../sass/partials/_circleplayer.scss */
.ui360-vis,
.ui360-vis .sm2-360ui,
.sm2-inline-list .ui360-vis {
  /* size of the container for the circle, etc. */
  width: 180px;
  height: 180px;
}

/* line 35, ../sass/partials/_circleplayer.scss */
.ui360-vis {
  position: relative;
  /* a little extra spacing */
  padding-top: 1px;
  padding-bottom: 1px;
  margin-bottom: -18px;
  /* approximate "line height" we want */
  padding-left: 0px;
  margin-left: 0px;
  background-position: 22.6% 50%;
  /* (~109px) initial play button position */
  width: 140px;
}

/* line 47, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360-vis {
  cursor: pointer;
}

/* line 51, ../sass/partials/_circleplayer.scss */
.ui360-vis a {
  font-size: 10px;
  white-space: nowrap;
  text-indent: 0px;
  /* undo inline style */
  top: 230px;
  /* ehh. */
  margin-left: -163px;
  width: 140px;
  display: block;
  text-align: center;
  color: white;
}

/* line 63, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360-vis a {
  line-height: 256px;
  top: auto;
}

/* line 68, ../sass/partials/_circleplayer.scss */
.ui360-vis .sm2-360ui {
  margin-left: -20px;
  margin-top: -21px;
}

/* line 73, ../sass/partials/_circleplayer.scss */
.ui360-vis .sm2-timing {
  font: bold 24px "helvetica neue", helvetica, monaco, lucida, terminal, monospace;
  color: #fff;
  text-align: center;
  line-height: 256px;
  text-indent: 0px;
  text-shadow: 2px 2px 0 #a84114;
}

/* line 83, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360-vis,
.sm2-inline-list .ui360-vis .sm2-360ui {
  margin-left: 0px;
}

/* line 87, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360-vis {
  margin: 8px 13px 7px 0px;
  padding-left: 0px;
  background-position: 50% 50%;
  /* initial play button position */
}

/* line 93, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360-vis .sm2-360ui {
  border: 1px solid #eeeeee;
  /* offset the border */
  margin-left: -1px;
  margin-top: -1px;
}

/* line 100, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360-vis a {
  position: absolute;
  display: inline;
  left: 0px;
  bottom: 0px;
  top: 1px;
  width: 100%;
  /* 2px padding in box */
  height: 99%;
  /* dumb vertical hack */
  *height: 256px;
  /* IE is dumb. */
  overflow: hidden;
  font-size: small;
  font-weight: 300;
  color: #333;
  margin: 0px;
  padding: 0px;
  line-height: 488px;
  /* bottom vertical alignment for text */
  *line-height: 480px;
  /* IE again */
  text-align: center;
  border-radius: 0px;
}

/* line 121, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360 a:hover {
  background-color: transparent;
  /* reset */
}

/* line 128, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360-vis:hover .sm2-360ui,
.sm2-inline-list .ui360-vis a.sm2_link:hover,
.sm2-inline-list .ui360-vis a.sm2_link:active,
.sm2-inline-list .ui360-vis a.sm2_link:focus {
  background-color: transparent;
}

/* Use a bigger loading image for this layout */
/* line 136, ../sass/partials/_circleplayer.scss */
.ui360-vis .sm2-360btn,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn,
.ui360-vis .sm2-360ui.sm2_playing .sm2-360btn {
  width: 48px;
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  border-radius: none;
}

/* line 146, ../sass/partials/_circleplayer.scss */
.ui360-vis,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn,
.ui360-vis .sm2-360btn-default {
  background: transparent url(../images/player_controls.png) no-repeat 50% 0%;
  background-image: url(../images/player_controls.png);
  *background-image: url(../images/player_controls.png);
  _background: transparent url(../images/player_controls.png) no-repeat 50% 0%;
  cursor: pointer;
}

/* line 156, ../sass/partials/_circleplayer.scss */
.ui360-vis:hover .sm2-360btn,
.ui360-vis .sm2-360btn-default:hover,
.ui360-vis .sm2-360ui.sm2_paused .sm2-360btn:hover {
  background: transparent url(../images/player_controls.png) no-repeat 50% 100%;
  _background: transparent url(../images/player_controls.png) no-repeat 50% 100%;
  cursor: pointer;
}

/* line 164, ../sass/partials/_circleplayer.scss */
.ui360-vis .sm2-360ui.sm2_playing .sm2-360btn:hover,
.ui360-vis .sm2-360btn-playing:hover {
  background: transparent url(../images/player_controls.png) no-repeat 50% 0%;
  _background: transparent url(../images/player_controls.png) no-repeat 50% 0%;
  cursor: pointer;
}

/* line 170, ../sass/partials/_circleplayer.scss */
.ui360-vis {
  /* non-JS / before-loaded state */
  background-position: 21% 50%;
  _background: transparent url(360-button-vis-play.gif) no-repeat 21% 50%;
  /* IE 6-only: special crap GIF */
}

/* line 176, ../sass/partials/_circleplayer.scss */
.ui360-vis .sm2-360btn-default {
  /* real button, post-loaded state */
  _background: transparent url(360-button-vis-play.gif) no-repeat 50% 50%;
  /* IE 6-only: special crap GIF */
}

/* line 181, ../sass/partials/_circleplayer.scss */
.ui360-vis .sm2-360ui.sm2_dragging .sm2-360btn {
  visibility: hidden;
}

/* General warning: Beta-ish. Code could be a bit cleaner. */
/* line 188, ../sass/partials/_circleplayer.scss */
.ui360,
.sm2-360ui {
  /* canvas container */
  position: relative;
}

/* line 193, ../sass/partials/_circleplayer.scss */
.ui360,
.sm2-360ui {
  min-width: 50px;
  /* should always be at least this. */
  min-height: 50px;
}

/* line 198, ../sass/partials/_circleplayer.scss */
.sm2-360ui {
  width: 50px;
  height: 50px;
}

/* line 204, ../sass/partials/_circleplayer.scss */
.ui360,
.ui360 * {
  vertical-align: middle;
}

/* line 208, ../sass/partials/_circleplayer.scss */
.sm2-360ui {
  position: relative;
  display: inline-block;
  /* firefox 3 et al */
  float: left;
  /* IE 6+7, firefox 2 needs this, inline-block would work with fx3 and others */
  *display: inline;
  /*
   clear:left;
  */
}

/* line 219, ../sass/partials/_circleplayer.scss */
.sm2-360ui.sm2_playing,
.sm2-360ui.sm2_paused {
  /* bump on top when active */
  z-index: 10;
}

/* line 224, ../sass/partials/_circleplayer.scss */
.ui360 a {
  /* .sm2_link class added to playable links by SM2 */
  float: left;
  display: inline;
  position: relative;
  text-decoration: none;
  left: 3px;
  /* slight spacing on left UI */
  top: 157px;
  /* vertical align */
  text-indent: 50px;
  /* make room for UI at left */
}

/* line 234, ../sass/partials/_circleplayer.scss */
.ui360 a.sm2_link {
  /* SM2 has now started */
  text-indent: 0px;
  /* UI now in place. */
}

/* line 242, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-canvas {
  position: absolute;
  left: 0px;
  top: 0px;
}

/* line 248, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-timing {
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  margin: 0px;
  font: 11px "helvetica neue", helvetica, monaco, lucida, terminal, monospace;
  color: #666;
  text-align: center;
  line-height: 50px;
}

/* line 262, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-timing.alignTweak {
  text-indent: 1px;
  /* devious center-alignment tweak for Safari (might break things for others.) */
}

/* line 266, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-cover {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: none;
  background-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
  /* old-skool bug: IE 9 won't catch mouse events otherwise. /smash */
}

/* line 277, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360btn {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  /*
   width:22px;
   height:22px;
   margin-left:-11px;
   margin-top:-11px;
  */
  /* by default, cover whole space. make smaller when playing. */
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
  cursor: pointer;
  z-index: 3;
}

/* line 297, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360data {
  display: inline-block;
  font-family: helvetica;
}

/* line 304, ../sass/partials/_circleplayer.scss */
.sm2-inline-block .ui360 .sm2-360btn,
.ui360 .sm2-360ui.sm2_playing .sm2-360btn,
.ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  /* smaller clickable button, in center */
  width: 50px;
  height: 50px;
  margin-left: -25px;
  margin-top: -25px;
}

/* line 313, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360ui.sm2_playing .sm2-cover,
.ui360 .sm2-360ui.sm2_paused .sm2-cover {
  display: block;
}

/* this could be optimized a fair bit. */
/* line 321, ../sass/partials/_circleplayer.scss */
.ui360,
.ui360 .sm2-360btn-default,
.ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  background: transparent url(../images/player_controls.png) top no-repeat;
  *background-image: url(../images/player_controls.png);
  background-repeat: no-repeat;
}

/* line 328, ../sass/partials/_circleplayer.scss */
.ui360 {
  /*
   "fake" button shown before SM2 has started, non-JS/non-SM2 case etc.
   background image will be removed via JS, in threeSixyPlayer.init()
  */
  background-position: 14px 50%;
  _background: transparent url(360-button-play.gif) no-repeat 14px 50%;
  /* IE 6-only: special crap GIF */
}

/* line 338, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360btn-default,
.ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  background-position: 50% 100%;
  _background: transparent url(360-button-play.gif) no-repeat 50% 50%;
  /* IE 6-only: special crap GIF */
}

/* line 344, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360btn-default,
.ui360 .sm2-360ui.sm2_paused .sm2-360btn {
  cursor: pointer;
}

/* line 348, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360ui.sm2_playing .sm2-timing {
  visibility: visible;
}

/* line 352, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360ui.sm2_buffering .sm2-timing {
  visibility: hidden;
}

/* line 357, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360ui.sm2_dragging .sm2-timing,
.ui360 .sm2-360ui.sm2_dragging .sm2-360btn:hover + .sm2-timing {
  /* paused + dragging */
  visibility: visible;
}

/* line 365, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360ui.sm2_playing .sm2-360btn,
.ui360 .sm2-360ui.sm2_dragging .sm2-360btn,
.ui360 .sm2-360ui.sm2_dragging .sm2-360btn:hover,
.ui360 .sm2-360ui.sm2_dragging .sm2-360btn-playing:hover {
  /* don't let pause button show on hover when dragging (or paused and dragging) */
  background: url(../images/player_controls.png);
  background-position: bottom 50%;
}

/* line 372, ../sass/partials/_circleplayer.scss */
.ui360 .sm2-360ui.sm2_buffering .sm2-360btn,
.ui360 .sm2-360ui.sm2_buffering .sm2-360btn:hover {
  background: transparent url(icon_loading_spinner.gif) no-repeat 50% 50%;
  opacity: 0.5;
  visibility: visible;
}

/* inline list style */
/* line 381, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360,
.sm2-inline-block .ui360 {
  position: relative;
  display: inline-block;
  float: left;
  _display: inline;
  margin-bottom: -15px;
}

/* line 389, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360 {
  /* inline player: minor tweak, tighten spacing */
  margin-right: -2px;
}

/* line 394, ../sass/partials/_circleplayer.scss */
.sm2-inline-block .ui360 {
  margin-right: 8px;
}

/* line 398, ../sass/partials/_circleplayer.scss */
.sm2-inline-list .ui360 a {
  display: none;
}

/* annotations */
/* line 404, ../sass/partials/_circleplayer.scss */
ul.ui360playlist {
  list-style-type: none;
}

/* line 409, ../sass/partials/_circleplayer.scss */
ul.ui360playlist,
ul.ui360playlist li {
  margin: 0px;
  padding: 0px;
}

/* line 414, ../sass/partials/_circleplayer.scss */
div.ui360 div.metadata {
  display: none;
}

/* line 419, ../sass/partials/_circleplayer.scss */
div.ui360 a span.metadata,
div.ui360 a span.metadata * {
  /* name of track, note etc. */
  vertical-align: baseline;
}

/**
 * SoundManager 2 + useFlashBlock
 * ------------------------------
 * Flash positioning and flashblock / clicktoflash handling
 */
/* line 430, ../sass/partials/_circleplayer.scss */
#sm2-container {
  /**
   * where the SM2 flash movie goes. by default, relative container.
   * set relative or absolute here, and don't touch it later or bad things will happen (see below comments.)
   */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /* screw IE 6, just make it display nice */
  _overflow: hidden;
}

/* line 444, ../sass/partials/_circleplayer.scss */
#sm2-container object,
#sm2-container embed {
  /**
   * the actual SWF movie bit.
   * important: The SWF needs to be able to be moved off-screen without display: or position: changes.
   * changing display: or position: or overflow: here or on parent can cause SWF reload or other weird issues after unblock
   * e.g., SM2 starts but strange errors, no whileplaying() etc.
   */
  width: 48px;
  height: 48px;
  /* some flash blockers may also respect this rule */
  max-width: 48px;
  max-height: 48px;
}

/* line 458, ../sass/partials/_circleplayer.scss */
#sm2-container.swf_timedout {
  /* expand to show the timed-out SWF content */
  position: relative;
  width: 48px;
  height: 48px;
}

/* line 467, ../sass/partials/_circleplayer.scss */
#sm2-container.swf_timedout,
#sm2-container.swf_timedout object,
#sm2-container.swf_timedout embed {
  /**
   * when SM2 didn't start normally, time-out case. flash blocked, missing SWF, no flash?
   * 48px square flash placeholder is typically used by blockers.
   */
  min-width: 48px;
  min-height: 48px;
}

/* line 476, ../sass/partials/_circleplayer.scss */
#sm2-container.swf_unblocked {
  /* SWF unblocked, or was never blocked to begin with; try to collapse container as much as possible. */
  width: 1px;
  height: 1px;
}

/* line 485, ../sass/partials/_circleplayer.scss */
#sm2-container.swf_loaded object,
#sm2-container.swf_loaded embed,
#sm2-container.swf_unblocked object,
#sm2-container.swf_unblocked embed {
  /* hide flash off-screen (relative to container) when it has loaded OK */
  left: -9999em;
  top: -9999em;
}

/* line 491, ../sass/partials/_circleplayer.scss */
#sm2-container.swf_error {
  /* when there is a fatal error (flash loaded, but SM2 failed) */
  display: none;
}

/* line 497, ../sass/partials/_circleplayer.scss */
#sm2-container.high_performance,
#sm2-container.high_performance.swf_timeout {
  /* "high performance" case: keep on-screen at all times */
  position: absolute;
  position: fixed;
}

/* line 503, ../sass/partials/_circleplayer.scss */
#sm2-container.high_performance {
  overflow: hidden;
  _top: -9999px;
  /* IE 6 hax, no position:fixed */
  _left: -9999px;
  bottom: 0px;
  left: 0px;
  /**
   * special case: show at first with w/h, hide when unblocked.
   * might be bad/annoying.
   * try to stay within ClickToFlash "invisible" limits (so it won't be blocked.)
   */
  z-index: 99;
  /* try to stay on top */
}

/* line 518, ../sass/partials/_circleplayer.scss */
#sm2-container.high_performance.swf_loaded,
#sm2-container.high_performance.swf_unblocked {
  z-index: auto;
}

/* line 525, ../sass/partials/_circleplayer.scss */
#sm2-container.high_performance.swf_loaded,
#sm2-container.high_performance.swf_unblocked,
#sm2-container.high_performance.swf_unblocked object,
#sm2-container.high_performance.swf_unblocked embed {
  /**
   * 8x8px is required minimum to load in fx/win32 in some cases(?)
   * 6x6+ good for fast performance, even better when on-screen via position:fixed
   * also, clickToFlash (Safari <5.1) may auto-load "invisible" SWFs at this size
   */
  height: 8px;
  width: 8px;
}

/* line 535, ../sass/partials/_circleplayer.scss */
#sm2-container.high_performance.swf_loaded {
  /* stay bottom/left */
  top: auto;
  bottom: 0px;
  left: 0px;
}

/* line 545, ../sass/partials/_circleplayer.scss */
#sm2-container.high_performance.swf_loaded object,
#sm2-container.high_performance.swf_loaded embed,
#sm2-container.high_performance.swf_unblocked object,
#sm2-container.high_performance.swf_unblocked embed {
  /* high-performance case must stay on-screen */
  left: auto;
  top: auto;
}

/* line 551, ../sass/partials/_circleplayer.scss */
#sm2-container.high_performance.swf_timedout {
  z-index: 99;
  /* try to stay on top */
}

/* line 7, ../sass/partials/h5bp/_helpers.scss */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
/* line 27, ../sass/partials/h5bp/_helpers.scss */
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%;
}

/* line 9, ../sass/partials/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, ../sass/partials/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 67, ../sass/partials/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, ../sass/partials/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 93, ../sass/partials/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
/* line 98, ../sass/partials/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 104, ../sass/partials/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */
}
@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */
}
@media print {
  /* line 11, ../sass/partials/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  /* line 19, ../sass/partials/h5bp/_media.scss */
  a,
  a:visited {
    text-decoration: underline;
  }

  /* line 23, ../sass/partials/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 27, ../sass/partials/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 37, ../sass/partials/h5bp/_media.scss */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  /* line 42, ../sass/partials/h5bp/_media.scss */
  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  /* line 47, ../sass/partials/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 52, ../sass/partials/h5bp/_media.scss */
  tr,
  img {
    page-break-inside: avoid;
  }

  /* line 56, ../sass/partials/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 66, ../sass/partials/h5bp/_media.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 72, ../sass/partials/h5bp/_media.scss */
  h2,
  h3 {
    page-break-after: avoid;
  }

  /* Style adjustments for print go here */
}
