@font-face {
    font-family: 'MuseoSlab';
    src: url('../fonts/museo_slab_100-webfont.eot');
    src: url('../fonts/museo_slab_100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museo_slab_100-webfont.woff') format('woff'),
         url('../fonts/museo_slab_100-webfont.ttf') format('truetype'),
         url('../fonts/museo_slab_100-webfont.svg#ArvoRegular') format('svg');
    font-weight: 100;
    font-style: normal;

}

@font-face {
    font-family: 'BigMummyRegular';
    src: url('../fonts/bigmummy-webfont.eot');
    src: url('../fonts/bigmummy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bigmummy-webfont.woff') format('woff'),
         url('../fonts/bigmummy-webfont.ttf') format('truetype'),
         url('../fonts/bigmummy-webfont.svg#BigMummyRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1 {
    font-family: 'BigMummyRegular', sans-serif;
    text-align: left;
    font-size: 22px;
    position: absolute;
    top: 62px;
    left: 10px;
    text-shadow: 2px 2px 0 #000;
}
#leftnav h2 a, #rightnav h2 a{
    text-decoration: none;
}
#leftnav h2{
    font-size: 27px;
    line-height: 27px;
    margin: 0px 20px 0 0;
    font-weight: 100;
}

#rightnav h2{
    font-size: 27px;
    line-height: 27px;
    margin: 0px 20px 0 0;
    font-weight: 100;
}

#nav{
    font-family: 'MuseoSlab', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

#nextgig h4{
    font-family: 'BigMummyRegular', sans-serif;
    font-size: 22px;
    margin: 0;
    line-height: 1;
    font-weight: normal;
}

#nextgig p {
    font-family: Arial, sans-serif;
    margin: 0;
}

#nextgig a {
    font-weight: bold;
}

#feature h4{
    font-family: 'MuseoSlab', sans-serif;
    font-size: 27px;
    margin: 0px 0px;
    font-weight: normal;
}

#feature h3{
    font-family: 'BigMummyRegular', sans-serif;
    color: #000000;
    text-shadow: 2px 2px #ffffff;
    font-size: 62px;
    margin: 0px;
    line-height: 60px;
    font-weight: normal;
}

#feature h5{
    font-family: 'BigMummyRegular', sans-serif;
    color: #ffffff;
    font-size: 27px;
    margin: 0px;
    line-height: 27px;
    font-weight: normal;
}

#feature .info p{
    margin: 0px;
}

footer h6{
    font-size: 20px;
    font-family: 'MuseoSlab', sans-serif;
    margin: 10px 20px 10px 10px;
    font-weight: 100;
}

footer .strap h2{
    font-size: 27px;
    font-family: 'BigMummyRegular', sans-serif;
    text-shadow: 2px 2px 0 #000;
}
.horizon h3{
    font-family: 'MuseoSlab', sans-serif;
    font-size: 20px;
}